body {
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    color: black;
}

h {
    color: blueviolet;
    font-size: large;
    margin-left: 6px;
    text-align: center;
}

p.header {
    float: right;
}